.ExperienceCard {
  margin: 2em;
  text-align: left;
}

.ExperienceCard-Title-Container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.ExperienceCard-Title-Media-Container {
  margin: 0 1em;
}

.ExperienceCard-Title-Text-Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ExperienceCard-Title-Media {
  width: 100px;
  height: 100px;
}

.ExperienceCard-Title-Media:hover {
  transform: scale(0.9);
  transition: all 0.5s;
}

.ExperienceCard-LetterOfRec {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  /* phones */
  .ExperienceCard {
    margin: 0.5em;
  }
}
