.Academics {
}

.Academics-Modules-EP-Summary1 {
  width: 100%;
  text-align: center;
}

.Academics-Modules-EP-Details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  /* phones */
  .Academics-Modules-EP-Details {
  }
}
