.Milkomeda-Media {
  background-image: url(./bluekeep.jpeg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30em;
}

.Milkomeda-Media:hover {
  transform: scale(0.95);
  transition: all 0.5s;
}

.Milkomeda-Button {
  margin: 0 1em !important;
}

.Milkomeda-Text {
  text-align: left;
  margin-top: 1em;
}

.Milkomeda-ActionArea {
  justify-content: center;
  position: relative;
}

.Milkomeda-Icons {
  position: absolute;
  right: 0;
}

.Milkomeda-Icon-Wrapper {
  display: inline-block;
  margin: 0 0.2em;
  text-align: center;
}

.Milkomeda-Icon {
  margin: 0.2em;
}