.Milkomeda-Media {
  background-image: url(./bluekeep.jpeg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30em;
}

.Milkomeda-Media-Overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(148, 183, 211, 0.815);
  border-radius: 3%;
  opacity: 0.5;
}

.Milkomeda-Media-Overlay:hover {
  opacity: 0;
}

.Milkomeda-Button {
  margin: 0 1em !important;
}

.Milkomeda-Text {
  text-align: left;
  margin-top: 1em;
}

.Milkomeda-ActionArea {
  justify-content: center;
  position: relative;
}

.Milkomeda-Icons {
  position: absolute;
  right: 0;
}

.Milkomeda-Icon-Wrapper {
  display: inline-block;
  margin: 0 0.2em;
  text-align: center;
}

.Milkomeda-Icon {
  margin: 0.2em;
}