.Milkomeda {
  margin: 1em 0;
}

.Milkomeda-Media {
  background-image: url(./bluekeep.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30em;
}

.Milkomeda-Media:hover {
  transform: scale(0.95);
  transition: all 0.5s;
}

.Milkomeda-Button {
  margin: 0 1em !important;
}

.Milkomeda-Text {
  text-align: left;
  margin-top: 1em;
}

.Milkomeda-ActionArea {
  justify-content: space-between;
  flex-wrap: wrap;
}

.Milkomeda-Icons {
}

.Milkomeda-Icon-Wrapper {
  display: inline-block;
  margin: 0 0.2em;
  text-align: center;
}

.Milkomeda-Icon {
  margin: 0.2em;
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  /* phones */
  .Milkomeda-Media {
    height: 15em;
  }

  .Milkomeda-ActionArea {
    justify-content: center;
  }

  .Milkomeda-ActionArea a {
    margin: 0.5em;
  }

  .Milkomeda-Icons {
    margin: 0.5em;
  }
}
