.MenuButton {
  margin: 1em 1em;
}

.MenuButton-Highlight {
  background-color: rgb(28, 154, 238) !important;
  box-shadow: 0px 0px 20px #888888;
}

.MenuButton-Inherit {
  background-color: inherit;
}
@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  /* phones */
  .MenuButton h6 {
    font-size: 0.5em;
  }

  .MenuButton-Highlight {
    font-size: 0.5em;
  }

  .MenuButton-Inherit {
    font-size: 0.5em;
  }
}
