.MenuButton {
  margin: 1em 1em;
}

.MenuButton-Highlight {
  background-color: rgb(28, 154, 238) !important;
  box-shadow: 0px 0px 20px #888888;
}

.MenuButton-Inherit {
  background-color: inherit;
}