.AlgoVisualizer-Media {
  background-image: url(./AlgoVisualizer_better.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30em;
}

.AlgoVisualizer-Media:hover {
  transform: scale(0.95);
  transition: all 0.5s;
}

.AlgoVisualizer-Button {
  margin: 0 1em !important;
}

.AlgoVisualizer-Text {
  text-align: left;
  margin-top: 1em;
}

.AlgoVisualizer-ActionArea {
  justify-content: space-between;
  flex-wrap: wrap;
}

.AlgoVisualizer-Icons {
}

.AlgoVisualizer-Icon {
  margin: 0.2em;
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  /* phones */
  .AlgoVisualizer-Media {
    height: 15em;
  }

  .AlgoVisualizer-ActionArea {
    justify-content: center;
  }

  .AlgoVisualizer-ActionArea a {
    margin: 0.5em;
  }

  .AlgoVisualizer-Icons {
    margin: 0.5em;
  }
}
