.AlgoVisualizer-Media {
  background-image: url(./AlgoVisualizer_better.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30em;
}

.AlgoVisualizer-Media:hover {
  transform: scale(0.95);
  transition: all 0.5s;
}

.AlgoVisualizer-Button {
  margin: 0 1em !important;
}

.AlgoVisualizer-Text {
  text-align: left;
  margin-top: 1em;
}

.AlgoVisualizer-ActionArea {
  justify-content: center;
  position: relative;
}

.AlgoVisualizer-Icons {
  position: absolute;
  right: 0;
}

.AlgoVisualizer-Icon {
  margin: 0.2em;
}