.Header {
  /*border: 3px solid grey;*/
  text-align: left;
}

.Header-Avatar-Container {
  display: flex;
  justify-content: space-around;
}

.Header-Avatar {
  width: 9em !important;
  height: 9em !important;
}

.Header-Contacts {
  margin: 1em 0;
}