.App {
  margin: 0 12%;
}

.App-Content {
  background-color: #3b4483;
  padding: 1em;
  border-radius: 20px;
}

.Button-Group {
  display: flex;
  justify-content: center;
}

.App-Footer {
  position: fixed;
  bottom: 0;
}