.App {
}

.App-Content {
  background-color: #2a324b;
  color: #eff1f3;
  padding: 1em;
  border-radius: 20px;
}

.App-Button-Group {
  display: flex;
  justify-content: center;
}

.App-Footer {
  position: fixed;
  bottom: 0;
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  /* phones */
  .App-Content {
    padding: 0.5em;
  }
}
