.AtAGlance-EP-Details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.AtAGlance-EP-Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 0;
}

.AtAGlance-EP-Summary1 {
  width: 100%;
  text-align: center;
}

.AtAGlance-EP-Avatar-Container {
  display: flex;
  justify-content: center;
}

.AtAGlance-EP-Avatar {
  width: 5em !important;
  height: 5em !important;
}

.AtAGlance-EP-CardActions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.AtAGlance-EP-CardActions-Anchor {
  text-decoration: none;
  display: block;
  margin: 0.5em;
}

.AtAGlance-EP-UL {
  display: table;
  margin: 0 auto;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  /* phones */
  .AtAGlance-EP-CardActions {
    justify-content: center;
    align-items: stretch;
  }
}
